{% extends 'TrenkwalderBundle::layout.html.twig' %}

{% block content %}
    <h1>
        {{ 'welcome.to.trenkwalder'|trans }}
    </h1>
    <button class="auto0-login">
        Login
    </button>
{% endblock %}
